/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
}
section{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #1a1a1a;
    height: 120px;
}
header nav a{
    color: #fff;
    text-decoration: none;
}
header .logo{
    float: left;
}
header nav ul li{
    float:left
}
section{
    margin: 0 auto;
    width: 1200px;

}
header .logo img{
    width: 110px;
}
header nav{
    padding-top: 20px;
}